body{
  font-size: 14px;
  font-family: serif;
  overflow-x: hidden;
  background: #fff;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: #111111;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 55px;
  border-bottom: 1px solid #ccc;
}
.primaryContainer{
  margin-top: 55px;
}
.textLogo{
  font-size: 30px;
  padding: 20px;
}
.nav{
  align-self: center;
}
.nav > ul{
  display: inline-flex;
  list-style: none;
    li{
      padding: 0 10px;
        a{
          text-decoration: none;
        }
    }

}
.logoContainer{
  align-self: center;
  img{
    width: 100%;
    height: auto;
    max-width: 150px;
  }
}
.introContainer{
  margin: 0 auto;
}
figure img{
  width: 100%;
}
.grid{
  display: flex;
}
.hero{
  text-align: center;
  position: relative;
  figure{
    margin: 0;
    text-align: center;

  }
  &__imageTitle{
    position: absolute;
    top: 70px;
    color: #fff;
    font-size: 30px;
    width: 100%;
  }
}
.button{
  width: 100px;
  padding: 10px 0;
  border: 0;
}
.input{
  box-sizing: border-box;
  border: 1px solid #bebebe;
  min-width: 100px;
  padding: 9px;
  transition: all .30s ease-in-out;
  outline: 0;
}
